@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;800&display=swap");
html,
body {
  padding: 0;
  margin: 0;

  font-family: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
  --lightPurp: #ac6aac;
  --middlePurp: rgb(108, 75, 157);
  --darkPurp: #2a3692;
  --fontColor: rgb(100, 98, 98);
}
