@import url("https://fonts.googleapis.com/css2?family=Vibes&display=swap");

.main_img {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: var(--middlePurp);
  color: white;
  font-family: bitsumishi, "Vibes", cursive, sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 700px;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.main_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 3rem;
}

.main_text h1 {
  font-size: 3em;
  font-weight: 800;
  color: var(--middlePurp);
}
.main_text p {
  font-size: 1.3em;
  color: var(--fontColor);
  line-height: 1.5em;
}
.main_text small {
  font-size: 0.9em;
  color: var(--fontColor);
  line-height: 1.5em;
}
.about_us_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 600px;
}
.about_us_element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.about_us_container > div {
  padding: 0 1rem;
}

.about_us_container > img {
  max-width: 50vw;
  border-radius: 10px;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.cards_container {
  width: 100%;
}
/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
.grid::-webkit-scrollbar {
  width: 10px;
}

.grid::-webkit-scrollbar-track {
  background: #ffffff;
}

.grid::-webkit-scrollbar-thumb {
  background-color: var(--middlePurp);
  border-radius: 10px;
  border: 3px solid #ffffff;
}
.grid {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  grid-gap: 12px;
  border-radius: 10px;
  min-width: 100%;
  /* Firefox */
  scrollbar-width: none;
  scrollbar-color: var(--middlePurp) #ffffff;
}
.cards {
  min-width: 40vw;
  width: 60vw;
  min-height: 100%;
  background-color: var(--middlePurp);
  color: white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
.cards:hover .cards_img {
  transform: scale(1.1);
  overflow: hidden;
}
.cards_img {
  max-height: 60%;
  transition: transform 0.3s ease-in-out;
  background-color: black;
}
.cards_img > img {
  width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.cards_text {
  width: 100%;
  max-height: 40%;
  padding: 1rem;
}
.contact_us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}
.contact_us > div:nth-child(1n) {
  max-width: 40%;
}
.contact_us > div:nth-child(2n) {
  max-width: 60%;
  border-radius: 10px;
  overflow: hidden;
}
.contact_us_components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 500px;
}
.contact_us_h2 {
  color: var(--fontColor);
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
}
.contact_us_icons_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact_us_icons_container > span {
  margin: 0 10px;
}
@media only screen and (max-width: 1104px) {
  .about_us_container {
    flex-wrap: wrap;
  }
  .about_us_container > img {
    max-width: 80vw;
  }
  .about_us_container > div {
    padding: 0;
  }
  .about_us_element > p:nth-child(2n) {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 860px) {
  .contact_us {
    flex-direction: column;
    height: 800px;
  }

  .contact_us > div:nth-child(1n) {
    max-width: 100%;
  }
  .contact_us > div:nth-child(2n) {
    max-width: 100%;
    max-height: 70vw;
  }
  .contact_us_components {
    margin-bottom: 30px;
  }
  .contact_us_components > div {
    margin-bottom: 30px;
    height: 50%;
  }
}
@media only screen and (max-width: 660px) {
  .cards {
    min-width: 60vw;
    width: 80vw;
  }
}
@media only screen and (max-width: 400px) {
  .main_img {
    min-height: 95vh;
  }
  .main_text {
    margin: 0 2rem;
  }
  .cards {
    min-width: 80vw;
    width: 100vw;
    min-height: 50vh;
  }
}
@media only screen and (max-width: 340px) {
  .cards {
    min-width: 80vw;
    width: 100vw;
  }
}
